h1 My blog
div
    a(href='/blog/new') New blog item
div#articles
    - each blog in docs
        div.article
            div.title #{blog.title}
            div.created_at #{blog.created_at}
            div.body #{blog.body}
div#helloworld
    span Enter a message to be echoed
    form(action="javascript:sendMessage()")
        input(type="text", id="newMessage", size="50")
        input(type="submit",value="Send Message")