h2 Some samples I am creating with node.js
p I am trying out stuff with node.js. Of course I need a lot of different libraries

ul
    li
        a(href='/chat') chat sample
    li
        a(href='/blog') blog sample

p This sample can be started in multiple modes. By now, there are two concrete starters. Plain socket.io or nowjs.