h2 Some samples I am creating with node.js
p I am trying out stuff with node.js. Doing stuff with jade, expressjs, node-oauth, socket.io and nowjs
p This sample can be started in two modes. The plain socket.io technology or using a wrapper with nowjs.
p The source code for this sample is available over at Github
a(href="https://github.com/jettro/nodejstryout") https://github.com/jettro/nodejstryout
p The chat sample makes use of a separate login module, for now only twitter is supported to authenticate
    or a simple name using the provided form.
p You can run this sample locally, but if you want to use the twitter integration you need to provide consumer key and
    secret to be able to connect with twitter.
p For now you can only authenticate using twitter. The Chat part usses your twitter login if available. You can also enter
    a name using the form.
div.attention
    p A server is running this sample. Please be gentile to my server. It is running on very basic hardware.
    a(href="http://dev.gridshore.nl") http://dev.gridshore.nl