h2 Some samples I am creating with node.js
p
    I am trying out stuff with node.js. Of course I need a lot of different libraries

ul
    li
        a(href='/socketio') socket.io sample
    li
        a(href='/nowjs') nowjs sample
    li
        a(href='/blog') blog sample