!!! 5
html(lang="en")
    head
        title Node.js Tryouts
        link(href="/style/style.css", media="screen", rel="stylesheet", type="text/css")
        script(src='/javascript/jquery-1.5.2.min.js')
    body
        div#header
            img(src="/images/logo.png")
            div#login
                - if (loginName == '')
                    span
                        a(href="/authenticate") Login using twitter
                - else
                    span #{loginName}
            div
                h1 Gridshore
                p A weblog about software engineering, Architecture, Technology and other things we like.
        div#navigation
            ul
                li
                    a(href="/") Home
                li
                    a(href="/blog") Blog
                li
                    a(href="/chat") Chat
        div#message
        div#body!= body
