h2 socket.io sample
div#information
    span
        a(href='/') Home
    div
        span enter your name
        form(action="javascript:setName()")
            input(type="text", id="visitorName", size="50")
            input(type="submit",value="Set Name")
    div
        span Enter a message to be echoed
        form(action="javascript:sendMessage()")
            input(type="text", id="newMessage", size="50")
            input(type="submit",value="Send Message")
div#message
div#chat


script(src='/javascript/local-socket-io.js')
