!!! 5
html(lang="en")
    head
        title My Blog
        link(href="/style/style.css", media="screen", rel="stylesheet", type="text/css")
        script(src='/javascript/jquery-1.5.2.min.js')
        script(src='/socket.io/socket.io.js')
    body
        div#message
        div#body!= body
